$theme-colors: (
    "primary": #007bff,
    "secondary": #e8f2fe,
    "tertiary": #5a5c5a,
    "info": #17a2b8,
    "warning": #ffc107,
    "danger": #dc3545,
    "light": #f8f9fa,
    "dark": #343a40,
);

