.logo-brand {
    margin-right: 10em;
}

.navContainer {
    padding-left: 4em;
    padding-right: 4em;
}

.navItemsContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navBarButtonContainer {
    width: 15em;
}

.navButton.show .dropdown-toggle,
.navButton.show .dropdown-toggle:hover {
    color: white;
}

.navBarButton {
    width: 65%;
    transition: width .7s ease;

    &:hover {
        width: 100%;
    }
}

.navLinkContainer {
    margin-right: 9em;
}

.navButton {
    padding-top: .35em;
    padding-bottom: .35em;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: .5em;
    padding-right: .1em;
    width: 100%;
    border-radius: 12px;
    background-color: #007bff;
}

.navButton .dropdown-toggle {
    color: white;
    width: 100%;

    &:hover {
        color: white;
    }
}

.navButtonTitleContainer {
    width: 100%;
    align-items: center;
    display: flex;
    justify-content: space-between;
}

.navButtonText {
    margin: 0;
}

.navButton .dropdown-toggle::after {
    display: none;
}

.menuDropdown .dropdown-menu.show {
    width: 15em;
    padding: 0 1em 1em 1em;
    padding-top: 0;
    background: rgb(0, 93, 255);
    background: linear-gradient(0deg, rgba(0, 93, 255, 1) 43%, rgba(79, 196, 255, 1) 93%);
    border: none;
}

.navDropDownItem {
    width: 100%;
    padding: 1em;
    border-radius: 10px;
    background: rgb(0, 93, 255);
    background: linear-gradient(0deg, rgba(0, 93, 255, 1) 58%, rgba(79, 196, 255, 1) 93%);
    color: white;
    border-radius: 8px;
    transition: background-color 0.3s ease;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);

    &:hover {
        background-color: #007bff;
    }

    &:focus {
        background-color: #007bff;
    }
}

.dropDownItemText {
    margin: 0;
    font-size: 1em;
    color: white;
}

.userDropDown .dropdown-menu {
    min-width: 10em;
    padding: 0;
    border: none;
}

.userDropDown .userDropDownItem {
    width: 100%;
    padding: 1em;
    border-radius: 10px;
    background: #007bff;
    color: white;
    transition: background-color 0.3s ease;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);

    &:hover {
        background-color: #258fff;
    }

    &:focus {
        background-color: #e9ecef;
    }
}